@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 92.5%;
}

body {
  background-color: rgba(233, 235, 239, 0.973);
  background-repeat: repeat;
  background-attachment: fixed;
}

.navbar {
  background-color: rgb(32, 55, 95);
}

#botonera img {
  width: 90px;
  margin-right: 250px;
}

ul {
  list-style: none;
  background-color: rgb(32, 55, 95);
  padding: 10px;
}
ul li {
  display: inline-block;
  position: relative;
  font-size: large;
}
ul li a {
  color: rgb(147, 147, 23);
  font-size: 1.2em;
}
ul li a:hover {
  color: black;
}

.medios {
  margin-top: 50px;
  justify-content: space-between;
}

.participar {
  margin-top: 20px;
  margin-left: 100px;
}

.textCenter {
  text-align: center;
}

.titulo__rifas {
  margin-top: 75px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.9em;
}

.novedades {
  background-color: rgb(242, 248, 92);
  margin-top: auto;
  margin-bottom: auto;
}

.titulo__novedades {
  margin-top: auto;
  margin-bottom: 25px;
  padding-top: 30px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.9em;
}

.principal {
  margin-top: 30px;
  width: auto;
  text-align: center;
}

.rifas {
  margin-top: 50px;
  margin-left: 300px;
}

.card-title {
  text-align: center;
  font-size: 1.5em;
  color: rgb(12, 61, 238);
}

.card-text {
  margin-top: 15px;
  text-align: center;
}

.principal__titulo--xl {
  margin-bottom: 50px;
  height: 50%;
  color: black;
  text-align: center;
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: normal;
}

.textRight {
  text-align: right;
}

.pasos__img--xl {
  width: 35px;
  height: auto;
  position: relative;
  display: inline;
}

.pasos__img--xxl {
  width: 45px;
  height: auto;
  position: relative;
  display: inline;
}

.pasos__img--xxxl {
  width: 45px;
  height: auto;
  position: relative;
  display: inline;
}

.pasos__titulo--xxxl {
  width: 100%;
  height: auto;
  position: relative;
  display: inline;
  color: rgba(198, 231, 240, 0.648);
  text-align: center;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

.pasos__titulo--md {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
}

.destacados__nosotros--md {
  text-align: center;
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgba(198, 231, 240, 0.648);
}

.titulo-formulario {
  margin-left: 120px;
  margin-top: 50px;
  font-family: "Nunito", sans-serif;
  font-size: 1.9em;
}

.aviso-formulario {
  margin-left: 120px;
}

.boton-formulario {
  margin-top: 25px;
  background-color: orange;
}

.col iframe {
  margin-bottom: 30px;
}

.bgOrange {
  background-color: orange;
}

.pie {
  margin-top: auto;
  text-align: center;
  padding: 20px 6px 20px;
}

.pie__icon--sm {
  width: 35px;
}

.pie__titulo--md {
  font-size: 1.2em;
}/*# sourceMappingURL=style.css.map */