@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 92.5%;
}

body {
  background-color: rgba(233, 235, 239, 0.973);
  background-repeat: repeat;
  background-attachment: fixed;
}

header {
  width: 100%;
  background-image: linear-gradient(to left, rgb(45, 3, 85), rgb(13, 13, 164));
}

#botonera img {
  width: 250px;
}

#botonera svg {
  fill: rgb(0, 0, 0);
}

#botonera ul {
  list-style: none;
  text-decoration: none;
  overflow: hidden;
}

#botonera ul li {
  float: right;
}

#botonera ul li a {
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-family: "Inter Tight", sans-serif;
}

#botonera ul li a:hover {
  color: rgb(67, 20, 255);
}

.medios {
  margin-top: 50px;
  justify-content: space-between;
}

.participar {
  margin-top: 20px;
  margin-left: 100px;
}

#pagos {
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pagos_img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.textCenter {
  text-align: center;
}

#rifas_contenedor {
  margin-left: 60px;
  margin-right: 60px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titulo_rifas {
  margin-top: 65px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  font-size: 2.3em;
  color: rgb(52, 0, 173);
}

.btn_rifas {
  color: white;
  background-color: rgb(45, 7, 159);
}

.novedades {
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ong_fotos {
  margin-bottom: 25px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

@media (max-width: 768px) {
  .ong_fotos {
    width: 200px;
  }
}
.comentarios_contenedor {
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_comentarios {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .img_comentarios {
    width: 200px;
  }
}
.titulo_novedades {
  margin-top: 20px;
  margin-bottom: 25px;
  padding-top: 30px;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  font-size: 2.3em;
  color: rgb(52, 0, 173);
}

.contenedor_rifas {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: rgb(52, 0, 173);
}

.card-text {
  margin-top: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.principal {
  margin-top: 30px;
  width: auto;
  text-align: center;
}

.principal__titulo--xl {
  margin-top: 35px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.3em;
  font-family: "Inter Tight", sans-serif;
  color: rgb(52, 0, 173);
}

.pasos_contenedor {
  margin-left: 60px;
  margin-right: 60px;
}

.pasos_borde {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.texto_participar {
  font-size: 1.2em;
  font-family: "Inter Tight", sans-serif;
  margin-bottom: 50px;
}

#preguntas_contenedor {
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: white;
}

.titulo_preguntas {
  color: rgb(52, 0, 173);
  font-family: "Inter Tight", sans-serif;
  font-size: 2.3em;
  margin-bottom: 10px;
}

.accordion-header {
  font-family: "Inter Tight", sans-serif;
  font-size: 1.2em;
}

.destacadas {
  margin-left: 60px;
  margin-right: 60px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.destacadas__titulo--xl {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  color: rgb(52, 0, 173);
  text-align: center;
  font-size: 2.3em;
  font-family: "Inter Tight", sans-serif;
}

.destacadas_descr {
  font-family: "Inter Tight", sans-serif;
  font-size: 1.1em;
  padding-bottom: 10px;
}

.img_empresa {
  margin-top: 50px;
  margin-bottom: 30px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 12px 28px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 768px) {
  .img_empresa {
    width: 200px;
  }
}
.destacados__nosotros--md {
  text-align: center;
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgba(198, 231, 240, 0.648);
}

.formulario-contenedor {
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
}

.titulo-formulario {
  font-family: "Inter Tight", sans-serif;
  font-size: 2.3em;
}

.boton-formulario {
  margin-top: 20px;
  margin-bottom: 20px;
  color: whitesmoke;
  background-color: rgb(22, 8, 148);
}

.col iframe {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .col iframe {
    width: 300px;
  }
}
.img_error {
  background-color: #36cdff;
}

@media (max-width: 992px) {
  .img_error img {
    width: 100%;
    text-align: center;
    margin-top: 200px;
  }
}
.btn_error {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: #36cdff;
  font-family: "Inter Tight", sans-serif;
  font-size: 1.5em;
}

@media (max-width: 992px) {
  .btn_error {
    width: 100%;
    text-align: center;
  }
}
.pie {
  background-image: linear-gradient(to top, #6710f2, rgb(147, 18, 198));
  background-color: #6710f2;
  margin-top: auto;
  text-align: center;
  padding: 20px 6px 20px;
}

.pie__icon--sm {
  width: 80px;
}

.pie_titulo--md {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: whitesmoke;
}/*# sourceMappingURL=style.css.map */