.medios{
    margin-top: 50px;
    justify-content: space-between;
 }


 .participar{
    margin-top: 20px;
    margin-left: 100px;
 }

 #pagos{
   margin-top: 20px;
   margin-left: 60px;
   margin-right: 60px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .pagos_img{
  object-fit: scale-down
 }


 .textCenter{
    text-align: center;
 }

 #rifas_contenedor{
   margin-left: 60px;
   margin-right: 60px;
 }

 .titulo_rifas{
    margin-top: 65px;
    margin-bottom: 15px;
    text-align: center;
    font-family: $mainFont;
    font-size: $textLg;
    background-color: rgb(52, 0, 173);
    color: whitesmoke;
 }

 .novedades{
   margin-left: 60px;
   margin-right: 60px;
   background-color:#0d6dfdcc;
   margin-top: auto;
   margin-bottom: auto;
 }

 .titulo_novedades{
   margin-top: auto;
   margin-bottom: 25px;
   padding-top: 30px;
   text-align: center;
   font-family: $mainFont;
   font-size: $textLg;
 }

 .principal{
    margin-top: 30px;
    width: auto;
    text-align: center;
 }

.rifas{
 margin-top: 50px;
 margin-left: 300px;
}

.card-title{
 text-align: center;
 font-family: $mainFont;
 font-size: $textMd;
 color: rgb(52, 0, 173);
}

.card-text{
   margin-top: 15px;
   text-align: center;
   font-family: $mainFont;
   font-size: $textSm;
 }

 .principal__titulo--xl{
    margin-top: 20px;
    margin-bottom: 30px;
    color: black;
    text-align: center;
    font-size: $textLg;
    font-family: $mainFont
 }
 .textRight{
    text-align: right;
 }

 #preguntas_contenedor{
   margin-top: 50px;
   margin-left: 60px;
   margin-right: 60px;
   background-color: rgba(0, 20, 84, 0.886);

 }

 .titulo_preguntas{
   font-family: $mainFont;
   font-size: $textLg;
   margin-bottom: 10px;
   background-color: white;
 }

 .pasos_contenedor{
  margin-left: 60px;
  margin-right: 60px;

 }

 .pasos_borde{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .pasos_contenedor-dos{
   margin-top: 50px;
   margin-bottom: 50px;
 }


 .destacadas{
   margin-left: 60px;
   margin-right: 60px;
 }

 .destacadas__titulo--xl{
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(53, 2, 55);
    text-align: center;
    font-size: $textLg;
    font-family: $mainFont;
 }

 .destacadas_descr{
  font-family: $mainFont;
  font-size: $textSm;
 }
 .img_empresa{
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 12px 28px 0 rgba(0, 0, 0, 0.19);
 }

 .destacados__nosotros--md{
    text-align: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(198, 231, 240, 0.648);   
 }

 .formulario-contenedor{
   margin-top: 50px;
   background-color: rgb(255, 255, 255);
 }

 .titulo-formulario{
   font-family: $mainFont;
   font-size: $textLg;
}

 .boton-formulario{
   margin-top: 20px;
   margin-bottom: 20px;
   color: whitesmoke;
   background-color: rgb(22, 8, 148);
 }

 .col iframe{
   margin-bottom: 30px;
 }