.bgOrange{
    background-color: orange;
 }
 
.pie{
    margin-top: auto;
    text-align: center;
    padding: 20px 6px 20px;
 }
 
 .pie__icon--sm{
    width: 35px;
 }
 
 .pie__titulo--md{
    font-size: $textSm;
 }