 
.pie{
   background-image: linear-gradient(to top,#6710f2,rgb(147, 18, 198));
    background-color:#6710f2;
    margin-top: auto;
    text-align: center;
    padding: 20px 6px 20px;
 }
 
 .pie__icon--sm{
    width: 80px;
 }
 
 .pie_titulo--md{
   margin-bottom: 20px;
    font-size: $textSm;
    color: whitesmoke;
 }