.navbar{
    background-color: rgb(32, 55, 95);
}
#botonera img{
    width: 90px;
    margin-right: 250px;
}

ul{
    list-style: none;
    background-color: rgb(32, 55, 95);
    padding: 10px;
    li{
        display: inline-block;
        position:relative;
        font-size: large;
        a{
            color: rgb(147, 147, 23);
            font-size: $textSm;
            &:hover{
                color: black;
            }
        }
    }
}