header{
    width: 100%;
    background-image: linear-gradient(to left, rgb(45, 3, 85), rgb(13, 13, 164), );
    
}

#botonera img{
	width: 250px;
}

#botonera svg{
	fill: rgb(0, 0, 0);
}

#botonera ul{
    list-style: none;
    text-decoration: none;
    overflow: hidden;
}

#botonera ul li{
    float: right;
}
	#botonera ul li a{
		color: rgb(255, 255, 255);
		font-size: $textSm;
        font-family: $mainFont;
	}

		#botonera ul li a:hover{
			color: rgb(67, 20, 255);
		}
